{{title}}
===
{{{description}}}

<strong>Version {{version}}</strong>

---
{{#methods}}
- [{{name}}](#{{name}})
{{/methods}}
---


{{#methods}}
<a name="{{name}}"></a>

## {{name}}

{{{summary}}}

{{#description}}
### Description
{{/description}}

{{{description}}}

{{#params.length}}
### Parameters

| Name | Type | Constraints | Description |
| --- | --- | --- | --- |
{{/params.length}}
{{#params}}
| {{name}} | {{{type}}} | {{{constraints}}} | {{{description}}} |
{{/params}}

{{#result.length}}
### Result

| Name | Type | Constraints | Description |
| --- | --- | --- | --- |
{{/result.length}}
{{#result}}
| {{name}} | {{type}} | {{{constraints}}} | {{{description}}} |
{{/result}}

{{#errors.length}}
### Errors

| Code | Message | Description |
| --- | --- | --- |
{{/errors.length}}
{{#errors}}
| {{code}} | {{message}} | {{{description}}} |
{{/errors}}

### Examples

#### Request

```json
{{{requestExample}}}
```

{{#responseExample}}
#### Response

```json
{{{responseExample}}}
```

{{/responseExample}}
{{/methods}}
